---
layout: base.njk
bodyClass: home
---

<header class="site-header">
	<a class="active" href="mailto:studio@oliverboulton.com">Oliver Boulton (1991, UK)</a>
	<a class='randomLink' href='#'>ξ</a></li>
</header>

<ul class="posts">
	{% for post in collections.project %}

	{% if post.data.title == "Letterlike"%}
	<li class='post'>
		<span class='post-title button'>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</span>
		<div class="post-list-image randomImage"><img src="/assets/letter-like/OLIVER_BOULTON_LETTER_LIKE_2.jpg" alt=""></div>
	</li>
	{% else %}
	<li class='post'>
		{% if post.data.file %}
		<a class='post-title button' href='{{post.data.file}}'>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</a>
		{% else %}
		<a class='post-title button' href='{{post.url}}'>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</a>
		{% endif %}
		<div class="post-images">
			{% for image in post.data.featured-images %}
			{% if post.data.file %}
			<a class="post-list-image" style="max-width: {{image.width}}%" href="{{post.data.file}}"><img
					src="/assets/images/{{image.url}}" alt="" /></a>
			{% else %}
			<a class="post-list-image" style="max-width: {{image.width}}%" href="{{post.url}}"><img
					src="/assets/images/{{image.url}}" alt="" /></a>
			{% endif %}
			{% endfor %}
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>

</html>