---
layout: base.njk
bodyClass: home
---

<header class="site-header">
	<a class="active" href="mailto:studio@oliverboulton.com">Oliver Boulton (1991, UK)</a>
	<a class='randomLink' href='#'>ξ</a></li>
</header>

<ul class="posts">
	{% for post in collections.project | reverse %}
	{% if post.data.title == "Letter-like"%}
	<li class='post'>
		<a href='#1' class='post-title randomImageTitle button'>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</a>
		{% set first = post.data["featured-images"] | first%}
		<div class="post-images randomImage"><img class='post-list-image' style="max-width: {{first.width}}%" src="/assets/letter-like/OLIVER_BOULTON_LETTER_LIKE_2.jpg" alt=""></div>
	</li>
	{% else %}
	<li class='post' data-book={{post.data.isBook}}>
		<div class="anchor" id='{{post.data.title | urlencode }}'></div>
		{% if post.data.file %}
		<a class='post-title button' href='{{post.data.file}}'>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</a>
		{% else %}
		<a class='post-title button' {% if post.data.permalink != false %}href='{{post.url}}'{% endif %}>
			<h2>{{post.data.title}}. {{post.data.subtitle}}</h2>
		</a>
		{% endif %}
		<div class="post-images">
			{% for image in post.data["featured-images"] %}
			{% if post.data.file %}
			<a class="post-list-image" style="max-width: {{image.width}}%" href="{{post.data.file}}"><img
					src="/assets/images/{{image.url}}" alt="" /></a>
			{% else %}
			<a class="post-list-image" style="max-width: {{image.width}}%" {% if post.data.permalink != false %}href="{{post.url}}"{% endif %}><img
					src="/assets/images/{{image.url}}" alt="" /></a>
			{% endif %}
			{% endfor %}
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>

</html>