<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oliver Boulton{% if title %} · {{title}}{% endif %}</title>
    <meta name="description" content="Oliver Boulton · Works between Paris and London · studio@oliverboulton.com"></meta>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127205123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-127205123-1');
    
        let projects = [
            {%- for p in collections.project -%}
                "{{p.url}}",
            {%- endfor -%}
            ""
        ]
    
    </script>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body class={{bodyClass}}>
    {{content | safe}}
    <footer class="site-footer">
        <p> All rights reserved 2019 © Oliver Boulton.</p>
    </footer>
    <div class="overlay"></div>
    <script src="/js/main.js"></script>

</body>

</html>