---
layout: base
bodyClass: project
---
<article class="single-post" data-book="{{isBook}}">
    <main class="single-post--content">
        {{content | safe}}
    </main>
</article>

<nav class="footer-nav">
    <a href="/#{{title | urlencode }}">⬿</a>
    <a class='randomLink fixed' href='#'>ξ</a>
</nav>