---
layout: base
bodyClass: project
---
<article class="single-post">
    <header class="post-title single-post--header">
        <h1>{{title}}. </h1>
        <h2>{{subtitle}}</h2>
    </header>

    <main class="single-post--content">
        {{content | safe}}
    </main>
</article>

<nav class="footer-nav">
    <a href="/">⬿</a>
    <a class='randomLink' href='#'>ξ</a>
</nav>